<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <title>遇见那年</title>
    <link rel="stylesheet" href="/layui/css/style-t.css">
    <link rel="stylesheet" href="/layui/css/frameui.css">
    <style>

    </style>
</head>

<body>
<!--html5 nav-->

<!--a1轮播图-->
<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}' style="position: relative">
    <ul class="am-slides cl">
        <li>
            <img src="/layui/images/img/banner11.png" id="image"9 class="ima">
        </li>
        <li>
            <img src="/layui/images/img/banner22.png" class="ima">
        </li>
    </ul>
    <!--搜索图标-->
    <div style="width: 18%;position: absolute;right: -17px; z-index: 11;top: 7px;">
        <img src="/layui/images/img/sreach.png" alt="" style="width: 55%">
    </div>
</div>
<div style="clear: both"></div>
<!--导航-->
<div class="home-nav" id="Home-nav">
    <input type="hidden" value="{{d.ids}}" id="ls">

    <ul>
        {{# for(var i = 0, len = d.data.classList.length; i < len; i++){ }}
        <li onclick="get('{{d.data.classList[i].id}}')" class="fl{{d.data.classList[i].id}}">{{d.data.classList[i].name}}</li>
        {{#}}}
    </ul>

</div>
<!--内容-->
<div class="Home-details">
    {{# for(var i = 0, len = d.data.classList.length; i < len; i++){ }}
    <div id="type{{d.data.classList[i].id}}" style="display: none" class="nn">
        {{# for(var j = 0, lens = d.data.classList[i].goodsList.length; j < lens; j++){ }}
     <div class="Home-details-item" style="margin-bottom: 60px">
         <div class="details-bg_img">
             <a href="/newShop/details?id={{d.data.classList[i].goodsList[j].id}}"><img src="/layui/images/img/caomeidangao.png" alt=""></a>
         </div>
         <div class="details-word">
             <h3 class="goods-name">
                    {{d.data.classList[i].goodsList[j].goodsName}}
             </h3>
             <p class="goods-describe">
                蒙多  想去哪就去哪
             </p>
            <p class="goods-price">
                ￥{{d.data.classList[i].goodsList[j].goodsPrice}}
            </p>
         </div>
     </div>
        {{#}}}
    </div>
    {{#}}}
</div>
<!--引入js资源-->

<script src="/layui/js/jquery-1.11.3.js"></script>
<script src="/layui/js/jquery.min.js"></script>
<script src="/layui/js/amazeui.js"></script>
<script src="/layui/js/rgbaster.js"></script>
<script src="/layui/js/handlebars.min.js"></script>
<script src="/layui/js/amazeui.widgets.helper.js"></script>

<script>
    $(document).ready(function(){
        $(".home-nav li").click(function(){
            $(this).css('border-color','#ffb657');
            $(this).css('color','#ffb657');
            $(this).siblings().css('border-color','#fff')
            $(this).siblings().css('color','#333')
        })
    })
</script>
<script type="text/javascript">
    window.onload=function(){
        $("#categoryMenu li").addClass("route")
    }
</script>

<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$('.Home-details div').first().css('display','block');-->
    <!--})-->

<!--</script>-->
<script>
    function get(id){
       $('.nn').css('display','none');
       $('#type'+id).css('display','block')
    }
</script>
<script>
    $(document).ready(function(){
        var a=$('#ls').val();
        $('#type'+a).css('display','block')
    })

</script>
<script>
    $(document).ready(function(){
        var a=$('#ls').val();
        $('.fl'+a).css('border-color','rgb(255, 182, 87)');
        $('.fl'+a).css('color','rgb(255, 182, 87)')
    })

</script>
<script>
    $(document).ready(function(){
        parent.change2()
    })
</script>
</body>
</html>