<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>遇见那年</title>
    <link rel="stylesheet" href="/layui/css/style-C.css">
</head>
<body>
<div class="index-img">
    <div class="index-img-one">
        <img src="/layui/images/img/bg3.png" alt="" class="index-img-bg1">
        <a href="/newShop/clear?ids=40"><img src="/layui/images/img/01.png" alt="" class="index-img-bg2"></a>
    </div>
    <div class="index-img-two">
        <img src="/layui/images/img/bg2.png" alt="" class="index-img-bg1">
        <a href="/newShop/clear?ids=42"><img src="/layui/images/img/02.png" alt="" class="index-img-bg3"></a>
    </div>
    <div class="index-img-three">
        <img src="/layui/images/img/bg1.png" alt="" class="index-img-bg1">
        <a href="/newShop/clear?ids=44"><img src="/layui/images/img/06.png" alt="" class="index-img-bg4"></a>
    </div>
</div>
</body>
</html>