<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="/layui/css/style-W.css" >
    <link rel="stylesheet" href="/layui/css/modules/code.css"  media="all">
    <link rel="stylesheet" href="/layui/css/modules/layer/default/layer.css"  media="all">
    <link rel="stylesheet" href="/layui/css/modules/laydate/laydate.css"  media="all">
</head>
<body>

<div>
    <div>
        <!--右侧内容   头部地址导航-->
        <div class="layui-tab layui-tab-brief layer-tab-top" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">管理</li>
                <li><a href="">新增</a></li>
                <li><a href="">申请列表</a></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layer-nav layer--nav-tips">
                        <blockquote class="layui-elem-quote layui-quote-nm">
                            <div class="layui-quote-nm-div"><img src="/layui/images/youqintishi.png" alt=""> 友情提示</div>
                            <p> 通过商品分类管理，你可以进行查看、编辑、删除系统商品分类</p>
                            <p> 你可以根据需要控制商品分类是否显示</p>
                        </blockquote>
                    </div>
                    <div class="layer-nav">
                        <p class="layer-nav-title">品牌管理</p>
                        <div class="layui-form layer-tab-nav">
                            <table class="layui-table ">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChk"></th>
                                    <th>排序</th>
                                    <th>首字母</th>
                                    <th>品牌名称</th>
                                    <th>类别</th>
                                    <th>品牌图片标识</th>
                                    <th>推荐</th>
                                    <th>首页显示</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{# for(var i = 0, len = d.data.goodsBrandList.length; i < len; i++){ }}
                                <tr>
                                    <td><input type="checkbox" name="subChk" lay-skin="primary" value="{{ d.data.goodsBrandList[i].id }}"></td>

                                    <td><input type="text" value="{{d.data.goodsBrandList[i].sequence }}" onblur="ajax_update('{{d.data.goodsBrandList[i].id }}','{{d.data.goodsBrandList[i].sequence}}',this)"></td>
                                    <td><input type="text" value="{{d.data.goodsBrandList[i].firstWord}}" onblur="ajax_update2('{{d.data.goodsBrandList[i].id }}','{{d.data.goodsBrandList[i].firstWord}}',this)"></td>
                                    <td><input type="text" value="{{d.data.goodsBrandList[i].name}}" onblur="ajax_update3('{{d.data.goodsBrandList[i].id }}','{{d.data.goodsBrandList[i].name}}',this)"></td>
                                    <td>类别</td>
                                    <td>
                                        品牌图片标识
                                    </td>
                                    <td class="layer-pic">
                                        {{# if(d.data.goodsBrandList[i].recommend===false){}}
                                        <img  class="layer-pic1" src="/layui/images/false.png" onclick="ajax_update4('{{ d.data.goodsBrandList[i].id }}',this)" alt="" >
                                        {{#  } }}
                                        {{# if(d.data.goodsBrandList[i].recommend===true){}}
                                        <img class="layer-pic1" src="/layui/images/true.png" onclick="ajax_update4('{{ d.data.goodsBrandList[i].id }}',this)" alt="" >
                                        {{#  } }}
                                    </td>
                                    <td class="layer-pic3">
                                        {{# if(d.data.goodsBrandList[i].showIndex===false){}}
                                        <img  class="layer-pic5" src="/layui/images/false.png" onclick="ajax_update5('{{ d.data.goodsBrandList[i].id }}',this)" alt="" >
                                        {{#  } }}
                                        {{# if(d.data.goodsBrandList[i].showIndex===true){}}
                                        <img class="layer-pic5" src="/layui/images/true.png" onclick="ajax_update5('{{ d.data.goodsBrandList[i].id }}',this)" alt="" >
                                        {{#  } }}
                                    </td>
                                    <td>
                                        <div class="layui-btn-group" id="layerDemo">
                                            <button class="layui-btn layui-btn-small"><a href="/goodsBrand/delete?id={{ d.data.goodsBrandList[i].id }}"  ><i class="layui-icon"></i></a></button>
                                            <button class="layui-btn layui-btn-small" data-method="notice"><i class="layui-icon"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                {{# } }}
                                </tbody>
                            </table>
                        </div>
                        <div class="layer-left-box-foot">
                            <div class="layer-left-box-foot-left">
                                <div class="layui-form layer-left-box-foot-all">
                                    <table class="layui-table">

                                    </table>
                                </div>
                                <div class="layui-form layer-left-box-foot-delit">
                                    <button class="layui-btn layui-btn-primary layui-btn-small"id="del_model">批量删除</button>
                                </div>
                            </div>
                            <div class="layer-left-box-foot-right">
                                <div id="pageDemo"></div>
                                <ul id="biuuu_city_list"></ul>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--右侧内容-nav-->



</div>
</div>

</div>


<!-- 你的HTML代码 -->

<script src="/layui/jquery.min.js" ></script>
<script src="/layui/layui.js" charset="utf-8"></script>
<script src="/layui/lay/dest/layui.all.js"></script>
<script src="/layui/lay/modules/tree.js"></script>
<script src="/layui/lay/modules/element.js"></script>
<script src="/layui/lay/modules/layer.js"></script>
<script src="/layui/lay/modules/flow.js"></script>
<script src="/layui/lay/modules/form.js"></script>
<script src="/layui/lay/modules/code.js"></script>
<script src="/layui/lay/modules/laydate.js"></script>
<script src="/layui/lay/modules/layedit.js"></script>
<script src="/layui/lay/modules/layer.js"></script>
<script src="/layui/lay/modules/laypage.js"></script>
<script src="/layui/lay/modules/upload.js"></script>
<script src="/layui/lay/modules/util.js"></script>


<script>
    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
            notice: function(){
                //示范一个公告层
                layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '1200px;'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['1', '2']
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: ''
                    ,success: function(layero){
                        var btn = layero.find('.layui-layer-btn');
                        btn.css('text-align', 'right');
                        btn.css('color', 'red');
                        btn.find('.layui-layer-btn0').attr({
                            href: 'http://www.baidu.com/'
                            ,target: '_blank'
                        });
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>





<script>
    function ajax_update5(id){
        jQuery.ajax({type:'GET',
            url:'/goodsBrand/editShowIndex',
            data:{"id":id},
        });
    }
</script>
<script>
    function ajax_update4(id){
        jQuery.ajax({type:'GET',
            url:'/goodsBrand/editRecommend',
            data:{"id":id},
        });
    }
</script>

<script>
    function ajax_update(id,sequence,obj,value){
        var val;
        if(value==undefined){
            val=jQuery(obj).val();
        }else val=value;
        jQuery.ajax({type:'GET',
            url:'/goodsBrand/editSequence',
            data:{"id":id,"sequence":sequence,"value":val},
        });
    }
</script>
<script>
    function ajax_update2(id,firstWord,obj,value){
        var val;
        if(value==undefined){
            val=jQuery(obj).val();
        }else val=value;
        jQuery.ajax({type:'GET',
            url:'/goodsBrand/editFirstWord',
            data:{"id":id,"firstWord":firstWord,"value":val},
        });
    }
</script>
<script>
    function ajax_update3(id,name,obj,value){
        var val;
        if(value==undefined){
            val=jQuery(obj).val();
        }else val=value;
        jQuery.ajax({type:'GET',
            url:'/goodsBrand/editName',
            data:{"id":id,"name":name,"value":val},
        });
    }
</script>
<script>
    // JavaScript Document
    $(document).ready(function() {
        // 全选
        $("#allChk").click(function() {
            $("input[name='subChk']").prop("checked",this.checked);
        });
        // 单选
        var subChk = $("input[name='subChk']")
        subChk.click(function() {
            $("#allChk").prop("checked", subChk.length == subChk.filter(":checked").length ? true:false);
        });
        /* 批量删除 */
        $("#del_model").click(function() {
            // 判断是否至少选择一项
            var checkedNum = $("input[name='subChk']:checked").length;
            if(checkedNum == 0) {
                alert("请选择至少一项！");
                return;
            }
            // 批量选择
            if(confirm("确定要删除所选项目？")) {
                var checkedList = new Array();
                $("input[name='subChk']:checked").each(function() {
                    checkedList.push($(this).val());
                });
                $.ajax({
                    type: "GET",
                    url: "/goodsBrand/delete",
                    data: {'id':checkedList.toString()},
                    success: function(result) {
                        $("[name ='subChk']:checkbox").attr("checked", false);
                        window.location.reload();
                    }
                });
            }
        });
    });

</script>

<!--推荐-->
<script>
    $(function(){

        $('.layer-pic').click(function(){
            var child= $(this).children('.layer-pic1');
            if(child.attr('src')=='/layui/images/false.png'){
                child.attr('src','/layui/images/true.png');
            }else{
                child.attr('src','/layui/images/false.png');
            }
        })
    })
</script>
<script>
    $(function(){

        $('.layer-pic3').click(function(){
            var child= $(this).children('.layer-pic5');
            if(child.attr('src')=='/layui/images/false.png'){
                child.attr('src','/layui/images/true.png');
            }else{
                child.attr('src','/layui/images/false.png');
            }
        })
    })
</script>
<script>
    layui.use('form', function(){
        var $ = layui.jquery, form = layui.form();

        //全选
        form.on('checkbox(allChoose)', function(data){
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function(index, item){
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });

    });



</script>
</body>
</html>