<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="/layui/css/style-W.css" >
    <link rel="stylesheet" href="/layui/css/modules/code.css"  media="all">
    <link rel="stylesheet" href="/layui/css/modules/layer/default/layer.css"  media="all">
    <link rel="stylesheet" href="/layui/css/modules/laydate/laydate.css"  media="all">
</head>
<body>

<div>
    <div>
        <!--右侧内容   头部地址导航-->
        <div class="layui-tab layui-tab-brief layer-tab-top" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li><a href="/admin/goods">所有商品</a></li>
                <li class="layui-this">未审核商品</li>
                <li><a href="/admin/goodsDown">违规下架商品</a></li>
            </ul>
            <div class="layui-tab-content"></div>
        </div>
        <!--右侧内容-nav-->
        <div class="layer-left-box">
            <div class="layer-nav layer-nav-input">

                <div class="layui-form-item ">
                    <div class="layui-inline">
                        <label class="layui-form-label layer-form-label-name">商品名称</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="phone" lay-verify="phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label layer-form-label-name">店铺名称</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="phone" lay-verify="phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label layer-form-label-name">商品类型</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-search="">
                                <option value="">直接选择或搜索选择</option>
                                <option value="1">layer</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label layer-form-label-name">品牌名称</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-search="">
                                <option value="">直接选择或搜索选择</option>
                                <option value="1">layer</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label layer-form-label-name">分类</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-search="">
                                <option value="">直接选择或搜索选择</option>
                                <option value="1">layer</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label layer-form-label-name">特别推荐</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-search="">
                                <option value="">直接选择或搜索选择</option>
                                <option value="1">layer</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-small">搜索</button>
                    </div>
                </div>

                <blockquote class="layui-elem-quote layui-quote-nm">
                    <div class="layui-quote-nm-div"><img src="/layui/images/youqintishi.png" alt=""> 友情提示</div>
                    <p> 通过商品分类管理，你可以进行查看、编辑、删除系统商品分类</p>
                    <p> 你可以根据需要控制商品分类是否显示</p>
                </blockquote>
                <div class="layer-nav">

                    <p class="layer-nav-title">商品分类</p>
                    <div class="layui-form layer-tab-nav">
                        <table class="layui-table ">

                            <thead>
                            <tr>
                                <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"id="allChk"></th>
                                <th>商品名称</th>
                                <th>分类名</th>
                                <th>发布人</th>
                                <th>品牌</th>
                                <th>商品价格</th>
                                <th>查看次数</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{# for(var i = 0, len = d.data.goodsList.length; i < len; i++){ }}
                            <tr>
                                <td><input type="checkbox" name="subChk" lay-skin="primary" value='{{ d.data.goodsList[i].id }}'></td>
                                <td>
                                    <input  class="layui-input" value='{{ d.data.goodsList[i].goodsName }}'  onblur="ajax_update('{{ d.data.goodsList[i].id }}','{{ d.data.goodsList[i].goodsName}}',this)">
                                </td>
                                <td>
                                    雨具
                                </td>
                                <td>
                                    发布人
                                </td>
                                <td>
                                    品牌
                                </td>
                                <td>
                                    商品价格
                                </td>
                                <td>{{ d.data.goodsList[i].goodsClick }}</td>
                                <td>
                                    <div class="layui-btn-group">
                                        <button class="layui-btn layui-btn-small"><a href="/admin/goodsNoSell/delete?id={{ d.data.goodsList[i].id }}"  ><i class="layui-icon"></i></a></button>
                                        <button class="layui-btn layui-btn-small"><a href="/admin/goodsNoSell/putaway?id={{ d.data.goodsList[i].id }}"><i class="layui-icon"></i></a></button>
                                    </div>
                                </td>
                            </tr>
                            {{# } }}
                            </tbody>
                        </table>
                    </div>
                    <div class="layer-left-box-foot">
                        <div class="layer-left-box-foot-left">
                            <div class="layui-form layer-left-box-foot-all">
                                <table class="layui-table">
                                </table>
                            </div>
                            <div class="layui-form layer-left-box-foot-delit">
                                <button class="layui-btn layui-btn-primary layui-btn-small" id="del_model">批量删除</button>
                                <button class="layui-btn layui-btn-small">二维码</button>
                            </div>
                        </div>
                        <div class="layer-left-box-foot-right">
                            <div id="pageDemo"></div>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- 你的HTML代码 -->

<script src="/layui/jquery.min.js" ></script>
<script src="/layui/layui.js" charset="utf-8"></script>
<script src="/layui/lay/dest/layui.all.js"></script>
<script src="/layui/lay/modules/tree.js"></script>
<script src="/layui/lay/modules/element.js"></script>
<script src="/layui/lay/modules/layer.js"></script>
<script src="/layui/lay/modules/flow.js"></script>
<script src="/layui/lay/modules/form.js"></script>
<script src="/layui/lay/modules/code.js"></script>
<script src="/layui/lay/modules/laydate.js"></script>
<script src="/layui/lay/modules/layedit.js"></script>
<script src="/layui/lay/modules/layer.js"></script>
<script src="/layui/lay/modules/laypage.js"></script>
<script src="/layui/lay/modules/upload.js"></script>
<script src="/layui/lay/modules/util.js"></script>
<script>
    // JavaScript Document
    $(document).ready(function() {
        // 全选
        $("#allChk").click(function() {
            $("input[name='subChk']").prop("checked",this.checked);
        });
        // 单选
        var subChk = $("input[name='subChk']")
        subChk.click(function() {
            $("#allChk").prop("checked", subChk.length == subChk.filter(":checked").length ? true:false);
        });
        /* 批量删除 */
        $("#del_model").click(function() {
            // 判断是否至少选择一项
            var checkedNum = $("input[name='subChk']:checked").length;
            if(checkedNum == 0) {
                alert("请选择至少一项！");
                return;
            }
            // 批量选择
            if(confirm("确定要删除所选项目？")) {
                var checkedList = new Array();
                $("input[name='subChk']:checked").each(function() {
                    checkedList.push($(this).val());
                });
                $.ajax({
                    type: "GET",
                    url: "/admin/goodsNoSell/delete",
                    data: {'id':checkedList.toString()},
                    success: function(result) {
                        $("[name ='subChk']:checkbox").attr("checked", false);
                        window.location.reload();
                    }
                });
            }
        });
    });

</script>

<script>
    function ajax_update(id,goodsName,obj,value){
        var val;
        if(value==undefined){
            val=jQuery(obj).val();
        }else val=value;
        jQuery.ajax({type:'GET',
            url:'/admin/goodsNoSell/edit',
            data:{"id":id,"goodsName":goodsName,"value":val},
        });
    }
</script>
<script>
    var sum='{{ d.data.size}}'; //laytpl语法，得到数据大小
    var pages=Math.ceil(sum/10);//页数
    var curr='{{d.curr}}';//得到当前页
    layui.use(['layer', 'laypage', 'element'], function(){
        var layer = layui.layer
                ,laypage = layui.laypage
        //分页
        laypage({
            cont: 'pageDemo',//页码id
            pages: pages, //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
            curr: curr,
            jump: function(e, first){ //触发分页后的回调
                if(!first){ //一定要加此判断，否则初始时会无限刷新
                    var pageNum=e.curr*10-10;//数据起始位置
                    location.href = '?pageNum='+pageNum;//http://localhost:8888/admin/goods?pageNum=20
                }
            }
        });
    });
</script>

<script>
    layui.use('form', function(){
        var $ = layui.jquery, form = layui.form();

        //全选
        form.on('checkbox(allChoose)', function(data){
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function(index, item){
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });
</script>

</body>
</html>